server:
  port: 8089
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/wisper?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - name: CircuitBreaker
              args:
                name: authService

        - id: business-service
          uri: lb://business-service
          predicates:
            - Path=/api/**
          filters:
            - TokenRelay  # 传递Token
            - name: JwtAuth  # 自定义网关过滤器
              args:
                permit-paths: |
                  /api/auth/login,
                  /api/auth/register,
                  /api/public/**
  redis:
    host: localhost
    port: 6379
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1

#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.MySQL8Dialect
#        format_sql: true

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.wisper_one.Login.domain


